

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');


.titulo{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 50px;
    
}
.calculadora{
   position: relative;
   top: 75px;
   display: flex;
   flex-direction: column;
   width: 60%;
   height:300px;
   padding: 15px;
   border: 1px solid skyblue;
   border-radius: 5px;
}

.interior_calculadora{
    display:flex;
    flex-direction: column;
    margin:30px 30px;
}
.titulo_calculadora{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.input{
    margin-top: 10px;
    height:30px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.slide{
    margin-top: 30px;
    
}
#porcentajeSeleccionado{
    text-align: center;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
label{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}



.button{
 height: 60px;
 background-color: skyblue;
 font-size: 24px;
 border: none;
 border-radius: 5px;
 color: #333;
 justify-content: center;
 margin-left: 38%;
 width: 250px;
 font-family: 'Josefin Sans', sans-serif;
}

.button:hover{
background-color: #333;
color: skyblue;
}

.button_dos{
    height: 60px;
    background-color: skyblue;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    color: #333;
    justify-content: center;
    margin-left: auto;
    width: 250px;
    font-family: 'Josefin Sans', sans-serif;
   }

.button_dos:hover{
background-color: #333;
color: skyblue;
}

.grupo{
    position: relative;
    top:250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20PX;
}

.resultados{

   position: relative;
   top: 210px;
   display: flex;
   flex-direction: column;
   width: 200px;
   padding: 15px;
   border-radius: 5px;
   margin: 0 auto;

   font-size: 25px;
   font-family: 'Ubuntu', sans-serif;
}



.container1
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    
}

