.titulo{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.calculadora{
   position: relative;
   top: 50px;
   display: flex;
   flex-direction: column;
   width: 200px;
   padding: 15px;
   border: 1px solid skyblue;
   border-radius: 5px;
}

.button{
 height: 35px;
 margin: 5px 0px;
 background-color: skyblue;
 border: none;
 border-radius: 5px;
 color: #333;
 
}

.button:hover{
background-color: #333;
color: skyblue;
}

.grupo{
    position: relative;
    top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.resultados{

   position: relative;
   top: 50px;
   display: flex;
   flex-direction: column;
   width: 200px;
   padding: 15px;
   border-radius: 5px;
}



.container1
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}